**1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].**

In [1]:
years_list = list(range(1995, 2000))
print(years_list)

[1995, 1996, 1997, 1998, 1999]

**2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.**

In [2]:
third_birthday_year = years_list[2]
print(third_birthday_year)

1997

**3.In the years list, which year were you the oldest?**

In [3]:
oldest_year = years_list[-1]
print(oldest_year)

1999

**4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.**

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

**5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?**

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]

# Capitalize the element referring to a person
for i in range(len(things)):
    if "cinderella" in things[i]:
        things[i] = things[i].capitalize()

print(things)

['mozzarella', 'Cinderella', 'salmonella']

**6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;**

In [6]:
surprise = ["Groucho", "Chico", "Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

**7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.**

In [8]:
# Lowercase the last element of the surprise list
surprise[-1] = surprise[-1].lower()

# Reverse the lowercase string
reversed_surprise_last_element = surprise[-1][::-1]

# Capitalize the reversed string
reversed_surprise_last_element = reversed_surprise_last_element.capitalize()

print(reversed_surprise_last_element)

Oprah

**8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.**

In [7]:
# Create the English-to-French dictionary
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

# Print the dictionary
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

**9. Write the French word for walrus in your three-word dictionary e2f.**

In [9]:
french_walrus = e2f["walrus"]
print(french_walrus)

morse

**10. Make a French-to-English dictionary called f2e from e2f. Use the items method.**

In [10]:
# Create an empty French-to-English dictionary
f2e = {}

# Iterate over the key-value pairs in e2f and populate f2e
for english, french in e2f.items():
    f2e[french] = english

# Print the French-to-English dictionary
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

**11. Print the English version of the French word chien using f2e.**

In [11]:
# Print the English version of the French word "chien" using f2e
english_chien = f2e["chien"]
print(english_chien)

dog

**12. Make and print a set of English words from the keys in e2f.**

In [12]:
# Get the keys from the e2f dictionary and convert them into a set
english_words_set = set(e2f.keys())

# Print the set of English words
print(english_words_set)

{'dog', 'cat', 'walrus'}

**13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.**

In [14]:
# Create the multilevel dictionary
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": {},
        "emus": {}
    },
    "plants": {},
    "other": {}
}

# Print the multilevel dictionary
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

**14. Print the top-level keys of life.**

In [15]:
# Print the top-level keys of the life dictionary
top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

**15. Print the keys for life[&#39;animals&#39;].**

In [16]:
# Print the keys for life['animals']
animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

**16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]**

In [17]:
# Print the values for life['animals']['cats']
cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']