**1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.**

In [ ]:
# Set the variable test1
test1 = 'This is a test of the emergency text system.'

# Save test1 to a file named test.txt
with open('test.txt', 'w') as file:
    file.write(test1)

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?**

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

print("test1:", test1)
print("test2:", test2)
print("Are test1 and test2 equal?", test1 == test2)

test1: This is a test of the emergency text system.
test2: This is a test of the emergency text system.
Are test1 and test2 equal? True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

lines = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", "1960"],
    ["Perdido Street Station", "China Miéville", "2000"],
    ["Thud!", "Terry Pratchett", "2005"],
    ["The Spellman Files", "Lisa Lutz", "2007"],
    ["Small Gods", "Terry Pratchett", "1992"]
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

print("books.csv has been created successfully.")

books.csv has been created successfully.

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).**

In [4]:
import sqlite3

# Connect to the SQLite database (creates it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Define the SQL statement to create the table
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
'''

# Execute the SQL command to create the table
cursor.execute(create_table_query)

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

print("books.db and the 'books' table have been created successfully.")

books.db and the 'books' table have been created successfully.

**5. Read books.csv and insert its data into the book table.**

In [5]:
import csv
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Read data from the CSV file and insert it into the table
with open('books.csv', 'r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip header row
    for row in csv_reader:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, int(year)))

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

print("Data from books.csv has been inserted into the 'books' table.")

Data from books.csv has been inserted into the 'books' table.

**6. Select and print the title column from the book table in alphabetical order.**

In [6]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Execute the SQL query to select the title column in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title")

# Fetch all the rows
rows = cursor.fetchall()

# Print the titles
print("Titles in alphabetical order:")
for row in rows:
    print(row[0])

# Close the connection
conn.close()

Titles in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

**7. From the book table, select and print all columns in the order of publication.**

In [8]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Execute the SQL query to select all columns in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year")

# Fetch all the rows
rows = cursor.fetchall()

# Print the results
print("Books in the order of publication:")
for row in rows:
    print(row)

# Close the connection
conn.close()

Books in the order of publication:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.**

In [7]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

# Define the base for declarative class
Base = declarative_base()

# Define the Book class to represent the books table
class Book(Base):
    __tablename__ = 'books'

    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)
    year = Column(Integer)

# Create an engine to connect to the SQLite database
engine = create_engine('sqlite:///books.db')

# Create all tables in the database
Base.metadata.create_all(engine)

# Create a session class and bind it to the engine
Session = sessionmaker(bind=engine)

# Create a session
session = Session()

print("Connection to books.db using SQLAlchemy has been established.")

<ipython-input-7-8325933ee325>:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Connection to books.db using SQLAlchemy has been established.

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.**

In [12]:
pip install redis

Collecting redis
  Downloading redis-5.0.4-py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 252.0/252.0 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.3 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.3)
Installing collected packages: redis
Successfully installed redis-5.0.4

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis(host='localhost', port=6379, db=0)

# Create a Redis hash called 'test' with fields 'count' and 'name'
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all the fields for 'test'
print("All fields for 'test':", r.hgetall('test'))

**10. Increment the count field of test and print it.**

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis(host='localhost', port=6379, db=0)

# Increment the 'count' field of 'test' hash by 1
r.hincrby('test', 'count', 1)

# Print the updated value of 'count'
print("Updated count:", r.hget('test', 'count').decode('utf-8'))