1. Write a Python program to find sum of elements in list?

In [1]:
def sum_of_elements(lst):
    return sum(lst)

# Example usage:
my_list = [1, 2, 3, 4, 5]
print("Sum of elements:", sum_of_elements(my_list))

Sum of elements: 15

2. Write a Python program to Multiply all numbers in the list?

In [2]:
def multiply_numbers(lst):
    result = 1
    for num in lst:
        result *= num
    return result

# Example usage:
my_list = [1, 2, 3, 4, 5]
print("Product of all numbers:", multiply_numbers(my_list))

Product of all numbers: 120

3. Write a Python program to find smallest number in a list?

In [3]:
def find_smallest(lst):
    return min(lst)

# Example usage:
my_list = [5, 3, 9, 1, 7]
print("Smallest number:", find_smallest(my_list))

Smallest number: 1

4. Write a Python program to find largest number in a list?

In [4]:
def find_largest(lst):
    return max(lst)

# Example usage:
my_list = [5, 3, 9, 1, 7]
print("Largest number:", find_largest(my_list))

Largest number: 9


5. Write a Python program to find second largest number in a list?

In [5]:
def find_second_largest(lst):
    sorted_list = sorted(lst)
    return sorted_list[-2]

# Example usage:
my_list = [5, 3, 9, 1, 7]
print("Second largest number:", find_second_largest(my_list))

Second largest number: 7


6. Write a Python program to find N largest elements from a list?

In [6]:
def find_n_largest(lst, n):
    sorted_list = sorted(lst, reverse=True)
    return sorted_list[:n]

# Example usage:
my_list = [5, 3, 9, 1, 7]
n = 3
print(f"{n} largest elements:", find_n_largest(my_list, n))

3 largest elements: [9, 7, 5]


7. Write a Python program to print even numbers in a list?

In [7]:
def print_even_numbers(lst):
    for num in lst:
        if num % 2 == 0:
            print(num, end=" ")

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Even numbers:")
print_even_numbers(my_list)

Even numbers:
2 4 6 8 10


8. Write a Python program to print odd numbers in a List?

In [8]:
def print_odd_numbers(lst):
    for num in lst:
        if num % 2 != 0:
            print(num, end=" ")

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Odd numbers:")
print_odd_numbers(my_list)

Odd numbers:
1 3 5 7 9

9. Write a Python program to Remove empty List from List?

In [9]:
def remove_empty_lists(lst):
    return [sublist for sublist in lst if sublist]

# Example usage:
my_list = [[], [1, 2], [], [3, 4], [], [5, 6]]
print("List after removing empty lists:", remove_empty_lists(my_list))

List after removing empty lists: [[1, 2], [3, 4], [5, 6]]

10. Write a Python program to Cloning or Copying a list?

In [10]:
def clone_list(lst):
    return lst.copy()

# Example usage:
my_list = [1, 2, 3, 4, 5]
cloned_list = clone_list(my_list)
print("Cloned list:", cloned_list)

Cloned list: [1, 2, 3, 4, 5]

11. Write a Python program to Count occurrences of an element in a list?

In [11]:
def count_occurrences(lst, element):
    return lst.count(element)

# Example usage:
my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_count = 2
print(f"Number of occurrences of {element_to_count}:", count_occurrences(my_list, element_to_count))

Number of occurrences of 2: 3